* {
  margin: 0;
  padding: 0;
}

input,
input:focus {
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: none;
}

header {
  margin-top: 24px;

    .header-top {
      padding-bottom: 27px;

        &__logo {

        }

        &__menu {
          margin-top: 23px;

            ul {
              font-size: 0;
              text-align: justify;

                &::after {
                  display: inline-block;
                  width: 100%;
                  content: '';
                }

                li {
                  display: inline-block;

                    a {
                      padding-bottom: 2px;
                      font-family: @ubuntu;
                      font-size: 15px;
                      line-height: 20px;
                      color: @menuLink;
                      border-bottom: 2px transparent solid;
                      transition: border 300ms linear;

                        &:hover {
                          text-decoration: none;
                          border-bottom-color: @headerBottomLeft;
                        }
                    }
                }
            }
        }

        &__call {
          margin-top: 11px;
          position: relative;
          text-align: right;

            svg {
              margin-right: 5px;
              display: inline-block;
              vertical-align: top;
              width: 39px;
              height: 39px;
              fill: @phoneIco;
            }

            span {
              position: relative;
              top: 4px;
              vertical-align: top;
              font: 22px/20px @ubuntuMedium;
              color: @callHead;
            }

            a {
              position: absolute;
              right: 2px;
              top: 29px;
              font: 15px/13px @ubuntuMedium;
              color: @callLink;
              letter-spacing: .1px;
              transition: color 300ms ease;

                &:hover {
                  text-decoration: none;
                  color: @headerBottomLeft;
                }
            }
        }
    }

    .header-bottom {
      height: 57px;
      background-image: linear-gradient(to right, @headerBottomLeft 65%, @phoneIco 35%);
      box-sizing: border-box;

        .col-md-9 {
          background-color: @headerBottomLeft;
        }

        .col-md-3 {
          background-color: @phoneIco;
        }

        ul {
          padding-top: 19px;
          margin-bottom: 0;
          min-height: 57px;
          text-align: justify;
          font-size: 0;
          box-sizing: border-box;


            &::after {
              display: inline-block;
              width: 100%;
              content: '';
            }

            li {
              display: inline-block;
              position: relative;

                &:not(:last-child)::after {
                  position: absolute;
                  right: -24px;
                  top: calc(~'50% - 3px');
                  display: block;
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                  background-color: @white;
                  content: '';
                }

                a {
                  font: 15px/21px @openSemiBold;
                  text-transform: uppercase;
                  color: @white;
                }
            }
        }

        &__search {
          padding-top: 13px;
          padding-left: 12px;
            input {

                &[type=text] {
                  padding-left: 10px;
                  width: 208px;
                  height: 30px;
                  border: 1px rgba(255, 255, 255, .3) solid;
                  border-radius: 20px;
                  box-sizing: border-box;
                  vertical-align: middle;
                  background-color: transparent;
                  font: 13px/20px @ubuntuLight;
                  color: rgba(255, 255, 255, .3);
                  transition: border 300ms ease, color 300ms ease;

                    &:hover,
                    &:focus {
                      border-color: @white;
                      color: @white;
                    }
                }

                &[type=submit] {
                  margin-left: 13px;
                  width: 25px;
                  height: 25px;
                  vertical-align: middle;
                  background-image: url(../img/search.svg);
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-color: transparent;
                  border: none;
                  transition: background 300ms ease;

                    &:hover {
                      background-image: url(../img/search_hover.svg);
                    }
                }
            }
        }
    }
}

main {

    .slider {
      width: 100%;

        &__item {
          padding-top: 39px;
          width: 100%;
          height: 355px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          text-align: center;

            &::after {
              position: absolute;
              z-index: 0;
              left: 0;
              top: 0;
              display: block;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, .2);
              content: '';
            }

            .container {
              position: relative;
              z-index: 4;
            }

            p {
              margin-bottom: 0;

                &.title {
                  font-family: @openExtraBold;
                  font-size: 52px;
                  line-height: normal;
                  color: @white;
                }

                &.subtitle {
                  margin-top: 20px;
                  font-family: @openSans;
                  font-size: 16px;
                  line-height: 24px;
                  color: @white;
                }
            }

            button {
              margin-top: 30px;
              width: 151px;
              height: 39px;
              border-radius: 2px;
              border: 1px @white solid;
              box-sizing: border-box;
              background-color: transparent;
              font: 14px/23px @openBold;
              text-transform: uppercase;
              color: @white;
              transition: all 300ms ease;

                &:hover {
                  background-color: @headerBottomLeft;
                  border-color: @headerBottomLeft;
                }
            }
        }

        &__arrows {
          width: 1170px;
          height: 355px;
          position: absolute;
          left: calc(~'50% - 585px');

          .slick-prev,
          .slick-next {
            position: absolute;
            z-index: 3;
            top: calc(~'50% - 50.5px');
            width: 41px;
            height: 73px;
            background-image: url(../img/prev_slide.svg);
            background-size: cover;
            background-position: center;
            background-color: transparent;
            border: none;
            transition: background 300ms ease;

              &:hover {
                background-image: url(../img/prev_slide_hover.svg);
              }
          }

          .slick-prev {
            left: 17px;
          }

          .slick-next {
            right: 17px;
            transform: rotate(180deg);
          }
          .dots {
            position: absolute;
            z-index: 5;
            bottom: 40px;
            width: 100%;

             ul {
               width: 100%;
               text-align: center;

                li {
                  display: inline-block;
                  vertical-align: bottom;

                    &:not(:last-child) {
                      margin-right: 8px;
                    }

                    button {
                      display: block;
                      width: 11px;
                      height: 11px;
                      border-radius: 50%;
                      background-color: @white;
                      border: none;
                      font-size: 0;
                      transition: background 300ms ease;

                        &:hover {
                          background-color: @headerBottomLeft;
                        }
                    }

                    &.slick-active {

                        button {
                          position: relative;
                          top: 2px;
                          width: 15px;
                          height: 15px;
                          box-sizing: border-box;
                          background-color: transparent;
                          border: 2px @white solid;
                        }
                    }
                }
             }
          }

        }

    }
  
    .application {
      position: relative;
      background-image: linear-gradient(to right, @headerBottomLeft 50%, @black 50%);

        &::before {
          position: absolute;
          left: 0;
          top: 23px;
          display: block;
          width: calc(~'50% - 11px');
          height: calc(~'100% - 46px');
          border: 1px @borderBlock solid;
          content: '';
        }

        &__left {
          position: relative;
          margin-top: 42px;
          margin-left: 12px;
          max-width: 531px;
          width: 100%;
          box-sizing: border-box;

            .description-block {
              position: absolute;
              z-index: 5;
              left: 0;
              top: 0;
              height: 435px;


              p {
                padding: 9px 20px 0 27px;
                margin-bottom: 0;
                background-color: @phoneIco;

                &.title {
                  padding-top: 6px;
                  font: 48px/56px @openExtraBold;
                  color: @white;
                  text-transform: uppercase;
                }

                &.subtitle {
                  padding-top: 44px;
                  font: 30px/35px @openSemiBold;
                  color: @yellow;
                }

                &.preview {
                  padding-top: 33px;
                  padding-bottom: 40px;
                  font: 15px/24px @openSans;
                  color: @white;
                }
              }
            }
        }

        &__right {
          padding-top: 51px;
          padding-left: 28px;
          padding-bottom: 35px;

            form {

              legend {
                padding-top: 18px;
                position: relative;
                border-bottom: none;
                font-family: @openBold;
                font-size: 40px;
                line-height: 63px;
                color: @white;
                letter-spacing: 1.3px;

                  &::before {
                    position: absolute;
                    left: 2px;
                    top: 0;
                    display: block;
                    width: 143px;
                    height: 6px;
                    background-color: @legendLine;
                    content: '';
                  }
              }

              input {

                  &[type=text],
                  &[type=phone] {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px @inputBorder solid;
                    font: 14px @openSans;
                    color: @white;
                  }

                  &.name {
                    padding-bottom: 3px;
                    margin-top: 23px;
                  }

                  &.phone {
                    padding-bottom: 5px;
                    margin-top: 35px;
                  }

                  &[type=submit] {
                    margin-top: 57px;
                    width: 150px;
                    height: 77px;
                    background-color: @submit;
                    border-radius: 2px;
                    border: none;
                    font: 16px/23px @openBold;
                    color: @black;
                    text-transform: uppercase;
                    border-bottom: 3px @submitbottom solid;
                    transition: all 300ms ease;

                      &:hover {
                        background-color: @headerBottomLeft;
                        border-bottom-color: @phoneIco;
                        color: @white;
                      }
                  }
              }
            }
        }
    }

    .list-problem {
      padding-top: 151px;
      padding-left: 17px;
      box-sizing: border-box;

        &__text {
          padding-bottom: 49px;
          position: relative;
          padding-left: 38px;
          max-width: 886px;
          width: 100%;
          border: 7px @borderList solid;

            p {

                &.title {
                  margin-top: -25px;
                  padding-left: 22px;
                  font: 47px/47px   @openSemiBold;
                  background-color: @white;
                  text-transform: uppercase;
                }
            }

            ul {
              margin-bottom: 0;
              margin-top: 28px;
              padding-left: 28px;

                li {
                  position: relative;
                  padding-left: 40px;
                  list-style-type: none;
                  font: 20px/47px @openLight;

                    &::before {
                      position: absolute;
                      left: 0;
                      top: calc(~'50% - 10.5px');
                      display: block;
                      width: 21px;
                      height: 21px;
                      background-image: url(../img/list_type.svg);
                      background-size: cover;
                      background-position: center;
                      background-repeat: no-repeat;
                      content: '';
                    }
                }
            }

            .list-image {
              position: absolute;
              right: -243px;
              top: -26px;
              width: 362px;
              height: 378px;
              background-image: url(../img/list-img.jpg);
              background-size: cover;
              background-position: center;
              box-shadow: 17px 19px 0 0 @borderList;
            }
        }
    }

    .result {
      margin-top: 70px;
      padding-top: 47px;
      padding-bottom: 52px;
      background-color: @phoneIco;

        p {
          text-align: center;
          margin-bottom: 0;

          &.title {
            font: 40px @openSans;
            color: @yellow;
            letter-spacing: -2.5px;
          }

          &.subtitle {
            margin-top: 10px;
            font: 18px/24px @openSans;
            color: @white;
          }
        }
    }

    .services {
      background-color: @headerBottomLeft;

        .block-text {
          padding-top: 40px;
          width: 60%;

            p.title {
              font: 45px/63px @openExtraBold;
              margin-bottom: 41px;
              color: @white;
            }

            svg {
              margin-bottom: 6px;

                &.like {
                  width: 38px;
                  height: 40px;
                  fill: @white;
                }

                &.spectacles {
                  width: 51px;
                  height: 47px;
                  fill: @white;
                }

                &.text {
                  width: 41px;
                  height: 40px;
                  fill: @white;
                }
            }

            ul {

                &.list-services {

                    & > li {
                      margin-bottom: 44px;
                    }

                    li {
                      list-style-type: none;
                    }

                    p.list-title {
                      font: 25px @openBold;
                      text-transform: uppercase;
                      letter-spacing: .7px;

                        a {
                          color: @yellow;
                          transition: color 300ms ease;

                          &:hover {
                            text-decoration: none;
                            color: @orange;
                          }
                        }
                    }

                    ul {

                        li {
                          position: relative;
                          padding-left: 22px;
                          font: 13px/20px @openSans;
                          color: @white;

                            &::before {
                              position: absolute;
                              left: 0;
                              top: calc(~'50% - 5.5px');
                              display: block;
                              width: 12px;
                              height: 11px;
                              background-image: url(../img/star.svg);
                              background-size: cover;
                              content: '';
                            }
                        }
                    }
                }
            }
        }

        &__left {
          position: relative;
          float: left;
          padding-bottom: 54px;
          width: 50%;
          background-image: url(../img/type-main.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

            &::before {
              position: absolute;
              z-index: 0;
              left: 0;
              right: 0;
              display: block;
              width: 100%;
              height: 100%;
              background-color: fade(@opacity, 60%);
              content: '';
            }

            .block-text {
              padding-left: 8px;
              padding-right: 30px;
              float: right;
              position: relative;
              z-index: 2;
            }

            &::after {
              clear: both;
              display: block;
              width: 100%;
              content: '';
            }
        }

        &__right {
          position: relative;
          float: left;
          padding-bottom: 54px;
          width: 50%;
          background-color: @headerBottomLeft;

            .block-text {
              padding-left: 30px;
              position: relative;
              z-index: 2;
              float: left;

               ul.list-services {

                    p {

                      &.list-title {
                        margin-bottom: 1px;
                        text-transform: none;
                        font-family: @openLight;

                          a {
                            color: @white;

                              &:hover {
                                color: @lightOrange;
                              }
                          }
                      }
                    }

                    li {

                        ul {

                          li {
                            padding-left: 0;

                              &::before {
                                display: none;
                              }
                          }
                        }
                    }
               }
            }

            &::after {
              clear: both;
              display: block;
              width: 100%;
              content: '';
            }

            a.all-services {
              display: block;
              width: 147px;
              height: 29px;
              font: 20px 'Times New Roman';
              text-align: center;
              color: @white;
              text-decoration: none;
              border: 1px @white solid;
              border-radius: 20px;
              transition: all 300ms linear;

                &:hover {
                  text-decoration: none;
                  background-color: @white;
                  color: @headerBottomLeft;
                }
            }
        }

        &::after {
          clear: both;
          display: block;
          width: 100%;
          content: '';
        }
    }

    .count {
      padding-top: 63px;
      padding-bottom: 58px;
      background-color: @black;
      font-size: 0;

        &::after {
          clear: both;
          display: block;
          width: 100%;
          content: '';
        }

        &__ico {
          display: inline-block;
          vertical-align: top;
          width: 60px;

            svg {
              width: 60px;
              height: 60px;
              fill: @white;
            }
        }

        &__text {
          margin-left: 18px;
          display: inline-block;
          vertical-align: top;
          width: calc(~'100% - 78px');

            p {
              font: 36px/36px @openLight;
              color: @submit;
            }

            span {
              font: 18px/24px @openBold;
              color: @white;
              text-transform: uppercase;
            }
        }
    }

    .news {
      padding-top: 37px;
      padding-bottom: 65px;

        p {
          padding-bottom: 19px;
          margin-bottom: 0;

            &.title {
              position: relative;
              font: 45px/63px @openExtraBold;
              color: @black;

                &::before {
                  position: absolute;
                  left: 3px;
                  bottom: 0;
                  display: block;
                  width: 187px;
                  height: 7px;
                  background-color: @phoneIco;
                  content: '';
                }
            }
        }

        ul {
          margin-top: 36px;

           li {
             list-style-type: none;
             margin-bottom: 35px;

              &::after {
                display: block;
                width: 100%;
                clear: both;
                content: '';
              }
           }
        }

        a.all-news {
          display: block;
          width: 151px;
          height: 50px;
          border-radius: 2px;
          font: 14px/23px @openBold;
          color: @white;
          text-align: center;
          text-transform: uppercase;
          box-sizing: border-box;
          padding-top: 13px;
          border-bottom: 3px @phoneIco solid;
          background-color: @headerBottomLeft;
          transition: all 300ms linear;

            &:hover {
              background-color: @lightOrange;
              border-bottom-color: @orange;
              text-decoration: none;
            }
        }

        &__date {
          position: relative;
          float: left;
          margin-top: 4px;
          width: 70px;
          height: 85px;
          overflow: hidden;
          text-align: center;

            &::before {
              position: absolute;
              z-index: -1;
              left: 0;
              top: 0;
              display: block;
              width: 100%;
              height: 100%;
              background-color: @phoneIco;
              content: '';
              border-radius: 0 0 30px 30px;
            }

            p {
              margin-bottom: 0;
              padding-bottom: 0;
              font: 40px @openBold;
              color: @white;
            }

            span {
              position: relative;
              top: -10px;
              font: 15px @openLight;
              color: @white;
            }
        }

        .about-img {
          margin-top: 39px;
          width: 100%;
        }

        .about-descrition {
          margin-top: 39px;
          padding-left: 2px;

            p {
              padding-bottom: 0;
              font: 15px/24px @openSans;
              color: @aboutP;
              margin-bottom: 24px;
            }

            a.about-more {
              display: block;
              width: 151px;
              height: 50px;
              border-radius: 2px;
              font: 14px/23px @openBold;
              color: @white;
              text-align: center;
              text-transform: uppercase;
              box-sizing: border-box;
              padding-top: 13px;
              border-bottom: 3px @phoneIco solid;
              background-color: @headerBottomLeft;
              transition: all 300ms linear;

                &:hover {
                  background-color: @lightOrange;
                  border-bottom-color: @orange;
                  text-decoration: none;
                }
            }
        }

        &__annotation {
          float: right;
          width: calc(~'100% - 101px');

            p {
              padding-bottom: 7px;
              letter-spacing: .75px;
              line-height: 25px;

                &.news-title {
                  padding-bottom: 15px;
                  font: 20px/25px @openSemiBold;
                  letter-spacing: .55px;

                    a {
                      color: @black;
                      transition: color 300ms ease;

                        &:hover {
                          text-decoration: none;
                          color: @phoneIco;
                        }
                    }
                }
            }

            a.more {
              color: @black;
              text-decoration: underline;
            }
        }
    }

    .clients {
      padding-top: 60px;
      padding-bottom: 55px;
      background-color: @clientsBack;

      &::after {
        clear: both;
        display: block;
        width: 100%;
        content: '';
      }

      &__ico {
        display: inline-block;
        vertical-align: top;
        width: 47px;

        svg {
          width: 45px;
          height: 45px;
          fill: @phoneIco;
        }
      }

      &__text {
        margin-left: 18px;
        display: inline-block;
        vertical-align: top;
        width: calc(~'100% - 69px');

        p {
          margin-bottom: 19px;
          font: 24px/27px @openSans;
          text-transform: uppercase;
          color: @black;
        }

        span {
          font: 15px @openSans;
          color: @aboutP;
        }

        button{
          margin-top: 25px;
          display: block;
          width: 164px;
          height: 50px;
          box-sizing: border-box;
          border-radius: 2px;
          font: 14px/23px @openBold;
          color: @white;
          text-align: center;
          text-transform: uppercase;
          border: none;
          border-bottom: 3px @phoneIco solid;
          background-color: @headerBottomLeft;
          transition: all 300ms linear;

            &:hover {
              background-color: @lightOrange;
              border-bottom-color: @orange;
              text-decoration: none;
            }

        }
      }
    }

    .question {
      padding-top: 35px;
      padding-bottom: 73px;

        p {

            &.title {
              font: 45px/63px @openExtraBold;
              color: @black;
            }
        }

        ul {
          margin-top: 52px;

            li {
              position: relative;
              padding-left: 65px;
              margin-bottom: 22px;
              list-style-type: none;

                &::before {
                  position: absolute;
                  left: 0;
                  top: calc(~'50% - 15.5px');
                  display: block;
                  width: 31px;
                  height: 31px;
                  background-image: url(../img/text.svg);
                  background-size: cover;
                  background-position: center;
                  content: '';
                }

                a {
                  font: 15px @openSans;
                  color: @black;
                }
            }
        }

        a.all-articles {
          font: 14px @openBold;
          color: @phoneIco;
          text-transform: uppercase;
        }

        .request {

            p.title {
              position: relative;
              padding-bottom: 24px;

                &::before {
                  position: absolute;
                  left: 5px;
                  bottom: 0;
                  display: block;
                  width: 187px;
                  height: 7px;
                  background-color: @phoneIco;
                  content: '';
                }
            }
        }

        .form {
          margin-top: 65px;
          padding-left: 2px;

            input {

              &[type=text],
              &[type=phone] {
                margin-bottom: 29px;
                padding-bottom: 4px;
                width: 100%;
                font: 14px @openSans;
                color: @black;
                border: none;
                background-color: transparent;
                border-bottom: 1px @inputRequest solid;
                transition: border 300ms linear;

                  &:hover,
                  &:focus {
                    border-color: @headerBottomLeft;
                  }
              }

              &[type=submit] {
                margin: 21px auto 0;
                display: block;
                width: 150px;
                height: 50px;
                box-sizing: border-box;
                border-radius: 2px;
                font: 14px/23px 'opensans-bold','sans-serif';
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                border: none;
                border-bottom: 3px #1b6ea9 solid;
                background-color: #288bd1;
                transition: all 300ms linear;

                  &:hover {
                    background-color: @lightOrange;
                    border-bottom-color: @orange;
                    text-decoration: none;
                  }
              }
            }

            label {
              font: 14px @openSans;
              color: @black;
            }

            textarea {
              padding-left: 5px;
              padding-top: 5px;
              width: 100%;
              height: 199px;
              font: 14px @openSans;
              color: @black;
              box-sizing: border-box;
              resize: none;
              border: 1px @inputRequest solid;
              border-radius: 2px;
              transition: border 300ms linear;

                &:hover,
                &:focus {
                  border-color: @headerBottomLeft;
                }
            }
        }
    }

    .documents {
      padding-top: 58px;
      padding-bottom: 50px;
      background-color: @phoneIco;

        &__ico {
          text-align: center;

          svg {
            width: 45px;
            height: 45px;
            fill: @white;
          }
        }

        &__text {
          text-align: center;

          p {
            margin-bottom: 6px;
            margin-top: 8px;
            font: 24px/39px @openBold;
            text-transform: uppercase;

              a {
                color: @yellow2;
                transition: color 300ms linear;

                  &:hover {
                    color: @orange;
                    text-decoration: none;
                  }
              }
          }

          span {
            font: 15px/20px @openSans;
            color: @white;
          }

        }
    }
}
footer {
  padding-top: 38px;
  background-color: @black;

    ul {
      margin-top: -3px;

      li {
        margin-bottom: 16px;
        list-style-type: none;

          a {
            font: 15px/15px @openSans;
            color: @white;
            transition: color 300ms linear;

              &:hover {
                color: @headerBottomLeft;
                text-decoration: none;
              }
          }
      }
    }

    .footer-call {
      text-align: right;

        svg {
          margin-right: 18px;
          display: inline-block;
          vertical-align: top;
          width: 39px;
          height: 39px;
          fill: @phoneIco;
        }

        span {
          position: relative;
          top: 1px;
          vertical-align: top;
          font: 22px/20px @ubuntuMedium;
          color: @white;
        }

        a {
          position: absolute;
          right: 15px;
          top: 26px;
          font: 15px/13px @ubuntuMedium;
          color: @callfooter;
          letter-spacing: .1px;

          &:hover {
            text-decoration: none;
          }
        }
    }

    .footer-soc {
      margin-top: 40px;
      text-align: right;
      font-size: 0;

        li {
          display: inline-block;
          vertical-align: top;
          width: 37px;
          height: 37px;
          border-radius: 50%;
          background-color: @socBack;
          text-align: center;

            &:nth-of-type(2) {
              padding-top: 11px;
            }

            &:first-child {
              padding-top: 9px;
            }

            &:last-child {
              padding-top: 2px;
            }

            &:not(:last-child) {
              margin-right: 8px;
            }

            svg {
              fill: #fff;

                &.twitter {
                  width: 19px;
                  height: 18px;
                }

                &.vk {
                  width: 24px;
                  height: 18px;
                }

                &.facebook {
                  width: 20px;
                  height: 33px;
                }
            }
        }
    }

    .footer-developer {
      margin-top: 62px;
      text-align: right;

        p {
          margin-right: 21px;
          display: inline-block;
          vertical-align: top;
          text-align: left;
          font: 11px /12px @openSans;
          color: @footer1C;
        }

        a {
          text-decoration: none;
          
            &:hover {
              text-decoration: none;
            }
        }
      
        svg {
          width: 103px;
          height: 28px;
          display: inline-block;
          vertical-align: top;
          fill: #fff;
        }
    }
}