include includes/head
include includes/header
include includes/breadcrumbs
include includes/inner-layout
include includes/footer
include includes/scripts
include includes/mixins
doctype html

html(lang="en")
    head
        +head()
    body
        include blocks/svg.html

        // Шапка сайта
        +header()
        //

        main

            +breadcrumbs()

            +inner-layout()


        footer
            +footer()
        +scripts()