mixin breadcrumbs()
   .breadcrumbs
      .container
         .row
            .col-md-12
               ul
                  li:   a(href="javascript:void(0)")  Главная -
                  li:   a(href="javascript:void(0)")  Банкротство