mixin clients()
   .clients
      .container
         .row
            .col-md-4.col-sm-6
               .clients__ico
                  +svg('text')
               .clients__text
                  p  Должнику
                  span  Хотите избежать субсидарной и уголдовной ответственности ?
                  button.clients-link Заказать услугу
            .col-md-4.col-sm-6
               .clients__ico
                  +svg('text')
               .clients__text
                  p  Кредитору
                  span  Обращайтесь - мы решим все ваши проблемы
                  button.clients-link Заказать услугу
            .col-md-4.col-sm-12.sm-block
               .clients__ico
                  +svg('text')
               .clients__text
                  p  Арбитражным управляющим
                  span  Более 30 вакансий
                  button.clients-link Откликнуться