mixin count()
   .count
      .container
         .row
            .col-md-4
               .count__ico
                  +svg('text')
               .count__text
                  p  15 736
                  span  Довольных клиентов
            .col-md-4
               .count__ico
                  +svg('text')
               .count__text
                  p  15 736
                  span  Выгранных дел

            .col-md-4
               .count__ico
                  +svg('text')
               .count__text
                  p  15 736
                  span  Обанкроченных предприятий
