mixin count()
   .count.hidden-xs
      .container
         .row
            .col-md-4.col-sm-6
               .count__ico
                  +svg('text')
               .count__text
                  p  15 736
                  span  Довольных клиентов
            .col-md-4.col-sm-6
               .count__ico
                  +svg('text')
               .count__text
                  p  15 736
                  span  Выгранных дел

            .col-md-4.hidden-sm
               .count__ico
                  +svg('text')
               .count__text
                  p  15 736
                  span  Обанкроченных предприятий
