mixin documents()
   .documents
      .container
         .col-md-4
            .documents__ico
               +svg('text')
            .documents__text
               p: a(href="javascript:void(0)")  Публикации
               span  Ликвидация ООО: как лучше это сделать?
         .col-md-4
            .documents__ico
               +svg('text')
            .documents__text
               p: a(href="javascript:void(0)")  Доставка документов
               span  Наша Компания осуществляет доставку документов по всей территории России. Доставка документов осуществляется через PONY EXPRESS.
         .col-md-4
            .documents__ico
               +svg('text')
            .documents__text
               p: a(href="javascript:void(0)")  Отслеживание
               span  Вы можете отслеживать местонахождение отправлений по накладным перейдя по ссылке или по телефону +7 (495) 937-77-77.