- var menu = ['Заявка','О компании','Новости','Публикации','Документы','Контакты'];
- var menu2 = ['Ликвидация путем банкротства','Банкротство предприятий','Банкротство физических лиц'];

mixin header()
   header
      .header-top
         .container
            .row
               .col-md-4.col-lg-3.col-sm-5.col-xs-12
                  .header-top__logo
                     a(href="javascript:void(0)")
                        img(src="../img/logo.png" alt="")

               .col-md-3.col-md-offset-5.col-lg-3.col-lg-push-6.col-lg-offset-0.col-sm-4.col-sm-offset-3.hidden-xs
                  .header-top__call
                     +svg('phone')
                     span  8-800-123-45-67
                     a(href="javascript:void(0)")  Перезвонить мне
               .col-xs-12.visible-xs.menu-phone
                  p  Меню
                  .burger.js-burger
                     span
                     span
                     span
               .col-md-12.col-lg-6.col-lg-pull-3.menu.col-sm-12.col-xs-12.js-menu-phone
                  .header-top__phone.visible-xs
                     ul
                        each items in menu2
                           if items == 'Банкротство предприятий'
                              li.active
                                 a(href="javascript:void(0)")= items
                           else
                              li
                                 a(href="javascript:void(0)")= items
                  .header-top__menu
                     nav
                        ul
                           each item in menu
                              li
                                 a(href="javascript:void(0)")= item
                  .header-top__phone-search.visible-xs
                     form
                        input(type="text" placeholder="Поиск")
                        input(type="submit" value="")

      .header-bottom.hidden-xs
         .container
            .row
               .col-md-11.col-lg-9.col-sm-11
                  ul
                     each items in menu2
                        li
                           a(href="javascript:void(0)")= items
               .col-md-1.col-lg-3.col-sm-1
                  .header-bottom__search
                     form
                        input(type="text"
                              placeholder="Поиск")
                        input(type="submit"
                              value="")



