include order
include type-services

mixin inner-layout()
   .inner-layout
      .container
         .row
            .col-md-3.hidden-sm.hidden-xs
               .menu-services
                  p.title-menu Ликвидация путем банкротства
                  ul
                     li:   a(href="javascript:void(0)") Полная процедура банкротства
                     li.active:   a(href="javascript:void(0)") Банкротство по инициативе должника
                     li:   a(href="javascript:void(0)") Упрощенная процедура банкротства
                     li:   a(href="javascript:void(0)") О банкротстве
                  p.title-menu Банкротство предприятий
                  ul
                     li:   a(href="javascript:void(0)") Банкротство фирм с долгами
                     li:   a(href="javascript:void(0)") Банкротство ООО
                     li:   a(href="javascript:void(0)") Банкротство АО
                     li:   a(href="javascript:void(0)") Банкротство ИП
                     li:   a(href="javascript:void(0)") Сопровождение банкротства
                     li:   a(href="javascript:void(0)") Услуги арбитражного управляющего

                  p.title-menu Банкротство физических лиц
                  ul
                     li:   a(href="javascript:void(0)") Основания для проведения банкротства физического лица
                     li:   a(href="javascript:void(0)") Последствия проведения банкротства физического лица
                     li:   a(href="javascript:void(0)") Порядок и особенности банкротства физического лица
               .menu-main
                  ul
                     li.active: a(href="javascript:void(0)") Заявка
                     li: a(href="javascript:void(0)") Новости
                     li: a(href="javascript:void(0)") Публикации
                     li: a(href="javascript:void(0)") Документы
                     li: a(href="javascript:void(0)") О компании
                     li: a(href="javascript:void(0)") Контакты
            .col-md-9
               h1 Оставьте заявку
               .inner-layout__text
                  p  Наша компания является специализированной в области ликвидации фирм. Мы предлагаем Вам все возможные способы ликвидации фирм.
                  p  Для начала работы нужно выбрать способ ликвидации и заполнить анкету (заявку). Если Вы не можете выбрать подходящий для Вашей фирмы способ ликвидации, наши сотрудники помогут вам. Свяжитесь с нами по телефону (495) 999-14-01
                  img(src="../img/about.jpg")
                  p  Законодательство Российской Федерации на протяжение уже многих лет дает возможность организациям и индивидуальным предпринимателям законным образом списывать долги в случае их фактической невозможности погашения.
                  p  Данная процедура называется признанием должника несостоятельным (банкротом) и регламентирована Федеральным законом от 26.10.2002 г. № 127-ФЗ «О несостоятельности (банкротстве)» (далее – Закон № 127-ФЗ). Многие положения указанного закона трактуются, в том числе обширной правоприменительной практикой.
                  p  С 1 октября 2015 года вступают в силу положения Закона № 127-ФЗ, касающиеся банкротства физических лиц. То есть с момента вступления в силу данных норм указанного закона у всех граждан Российской Федерации появится возможность (как и у организаций и индивидуальных предпринимателей) признать себя несостоятельными (банкротами), и тем самым списать (реструктуризировать) имеющиеся долги перед третьими лицами.
                  p  Вступление в силу положений Закона № 127-ФЗ, касающихся банкротства физических лиц, откладывалось с 1 июля 2015 года до 1 октября 2015 года, что обусловлено ожидаемой востребованностью данной процедуры у широкого круга населения страны, которая существенно увеличит нагрузку судов и других органов власти. Само государство тщательно готовится к практической реализации данных правовых нововведений.
                  p  Банкротство граждан с 1 октября 2015 года – это новая, не освещенная правоприменительной практикой,
      +order()
      +type-services()
