mixin list_problem()
   .list-problem
      .container
         .row
            .col-md-12
               .list-problem__text
                  p.title  Собственный
                     |бизнес стал проблемой?
                  ul
                     li Долги мертвой хваткой сдавили и не отпускают?
                     li Хотите выйти из ставшего обузой бизнеса?
                     li Хотите дать обновлённому бизнесу новую жизнь?
                     li Не знаете как это сделать?
                     li Банкротство предприятия - решение ваших проблем.
                     li Помощь должникам и кредиторам.
                     li Банкротство вашего ООО без риска.
                  .list-image.hidden-xs
