mixin news()
   .news
      .container
         .row
            .col-md-6
               p.title  Новости
               ul
                  li
                     .news__date
                        p 24
                        span  Марта
                     .news__annotation
                        p.news-title: a(href="javascript:void(0)")   Очередная ликвидация строительной фирмы путем банкротства
                        p  Очередное судебное разбирательство постигло ликвидатора – на этот раз строительную компанию ООО «Союз СЦ». Дело закончилось введением конкурсного...
                        a.more   Дальше
                  li
                     .news__date
                        p 04
                        span  Апреля
                     .news__annotation
                        p.news-title: a(href="javascript:void(0)")   Юристы о компенсации сотрудникам,  уволенным из-за ликвидации
                        p  Юристы ведущих агентств выступили с заявлением относительно того, вправе ли работодатель уволить всех своих сотрудников при закрытии фирмы. Этот вопрос...
                        a(href="javascript:void(0)").more   Дальше
                        
               a(href="javascript:void(0)").all-news  Все новости
            .col-md-6
               p.title  Кто мы?
               img(src="../img/about.jpg").about-img
               .about-descrition
                  p  Наша компания является специализированной в области ликвидации фирм. Мы предлагаем Вам все возможные способы ликвидации фирм.
                  p  Для начала работы нужно выбрать способ ликвидации и заполнить анкету (заявку). Если Вы не можете выбрать подходящий для Вашей фирмы способ ликвидации, наши сотрудники помогут вам.
                     |  Свяжитесь с нами по телефону (495) 999-14-01.
                  a(href="javascript:void(0)").about-more   Подробнее