mixin news()
   .news
      .container
         .row
            .col-md-6
               p.title  Новости
               ul
                  li
                     .news__date
                        p 24
                        span  марта
                     .news__annotation
                        p.news-title   Очередная ликвидация строительной фирмы путем банкротства
                        p  Очередное судебное разбирательство постигло ликвидатора – на этот раз строительную компанию ООО «Союз СЦ». Дело закончилось введением конкурсного...
                        a.more   Дальше
                  li
                     .news__date
                        p 24
                        span  марта
                     .news__annotation
                        p.news-title   Очередная ликвидация строительной фирмы путем банкротства
                        p  Очередное судебное разбирательство постигло ликвидатора – на этот раз строительную компанию ООО «Союз СЦ». Дело закончилось введением конкурсного...
                        a.more   Дальше
                        
               a.all-news  Все новости
            .col-md-6
               p.title  Кто мы?
               img
               .about-descrition
                  p  Наша компания является специализированной в области ликвидации фирм. Мы предлагаем Вам все возможные способы ликвидации фирм.
                  p  Для начала работы нужно выбрать способ ликвидации и заполнить анкету (заявку). Если Вы не можете выбрать подходящий для Вашей фирмы способ ликвидации, наши сотрудники помогут вам.
                     |  Свяжитесь с нами по телефону (495) 999-14-01.
                  a.about-more   Подробнее