mixin question()
   .question
      .container
         .row
            .col-md-6.col-sm-12
               p.title  Вопросы и ответы
               a(href="javascript:void(0)").all-articles  Смотреть все статьи
               ul
                  li
                     a(href="javascript:void(0)")  Как составить заявление на присоединение в другой регион
                  li
                     a(href="javascript:void(0)")  Закрыть ООО с долгами: варианты
                  li
                     a(href="javascript:void(0)")  Ликвидация ООО путем продажи. Что это?', 'Как закрыть расчётный счёт при ликвидации фирмы?
                  li
                     a(href="javascript:void(0)")  В каких случаях ИФНС может сама закрыть ООО?
                  li
                     a(href="javascript:void(0)")  Ликвидация путем присоединения: что это? Альтернативные методы ликвидации юридического лица
                  li
                     a(href="javascript:void(0)")  Изменения порядка закрытия ООО после 01 июля 2009 г.
                  li
                     a(href="javascript:void(0)")  Закрытие ООО при отсутствии второго участника. Как?  Закрыть ЗАО: как?
            .col-md-6.col-sm-12
               .request
                  p.title  Оставьте заявку
               .form
                  input(type="text" placeholder="Ваше имя")
                  input(type="phone" placeholder="Телефон")
                  label Сообщение
                  textarea
                  input(type="submit" value="Отправить")