mixin result()
   .result
      .container
         .row
            .col-md-12
               p.title  Гарантия на результат нашей работы
               p.subtitle  Лучшая наша гарантия – профессионализм наших сотрудников.