mixin scripts()
   script(src="http://code.jquery.com/jquery-1.11.3.min.js")
   script(type='text/javascript')   window.jQuery || document.write('<script src="../js/jquery-1.11.3.min.js"><\/script>');
   script(src="../js/libs/bootstrap/bootstrap.min.js")
   script(src="../js/libs/formstyler/jquery.formstyler.min.js")
   script(src="../js/libs/slick/slick.min.js")
   <!--[if IE]>
   script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
   <![endif]-->
   script(src="../js/script.js")