mixin services()
   .services
      .services__left
         .block-text
            p.title  Банкротство
            ul.list-services
               li
                  +svg('like')
                  p.list-title: a(href="javascript:void(0)") Ликвидация путем банкротства
                  ul
                     li Полная процедура банкротства
                     li Банкротство по инициативе должника
                     li Упрощенная процедура банкротства
                     li О банкротстве
               li
                  +svg('spectacles')
                  p.list-title: a(href="javascript:void(0)") Банкротство предприятий
                  ul
                     li Банкротство фирм с долгами
                     li Банкротство ООО
                     li Банкротство АО
                     li Банкротство ИП
                     li Сопровождение банкротства
                     li Услуги арбитражного управляющего
               li
                  +svg('text')
                  p.list-title: a(href="javascript:void(0)") Банкротство физических лиц
                  ul
                     li Основания для проведения банкротства физического лица
                     li Последствия проведения банкротства физического лица
                     li Порядок и особенности банкротства физического лица


      .services__right
         .block-text
            p.title  Доп. Услуги
            ul.list-services
               li
                  +svg('text')
                  p.list-title: a(href="javascript:void(0)") Реорганизация
                  ul
                     li Реорганизация предприятия в форме
                     li присоединения или слияния с другой
               li
                  +svg('spectacles')
                  p.list-title: a(href="javascript:void(0)") Смена руководителя
                  ul
                     li Смена учредителей и руководителя предприятия
               li
                  +svg('text')
                  p.list-title: a(href="javascript:void(0)") Реорганизация
                  ul
                     li Реорганизация предприятия в форме
                     li присоединения или слияния с другой
               li
                  +svg('spectacles')
                  p.list-title: a(href="javascript:void(0)") Смена руководителя
                  ul
                     li Смена учредителей и руководителя предприятия
            a(href="javascript:void(0)").all-services Все услуги
