mixin slider()
   .slider.hidden-xs
      .slider__arrows
         .js-arrows
         .dots.js-dots

      .slider__container.js-slider
         .slider__item(style="background-image: url(../img/banner-1.jpg)")
            .container
               .row
                  .col-md-12
                     p.title  Банкротство Предприятий
                     p.subtitle  Реорганизация предприятия в форме присоединения или
                        br
                        |  слияния с другой компанией
                     button Заказать

         .slider__item(style="background-image: url(../img/banner-2.jpg)")
            .container
               .row
                  .col-md-12
                     p.title  Банкротство Предприятий
                     p.subtitle  Реорганизация предприятия в форме присоединения или
                        br
                        |  слияния с другой компанией
                     button Заказать

