mixin type-services()
   .type-services
      .container
         .row
            .col-md-4
               +svg('like')
               p.title: a(href="javascript:void(0)") Ликвидация путем банкротства
               ul
                  li Полная процедура банкротства
                  li Банкротство по инициативе должника
                  li Упрощенная процедура банкротства
                  li О банкротстве
            .col-md-4
               +svg('spectacles')
               p.title: a(href="javascript:void(0)") Банкротство предприятий
               ul
                  li Полная процедура банкротства
                  li Банкротство по инициативе должника
                  li Упрощенная процедура банкротства
                  li О банкротстве
            .col-md-4
               +svg('text')
               p.title: a(href="javascript:void(0)") Банкротство физических лиц
               ul
                  li Полная процедура банкротства
                  li Банкротство по инициативе должника
                  li Упрощенная процедура банкротства
                  li О банкротстве